*{
  box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;

}



/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../images/bar_pic.png");
  /* background-blend-mode: saturation; */

  /* min-height: 100%; */
  /* min-height:  20%;
  max-height: 30%; */
  height: 20%;
  backdrop-filter: blur(5px);

}

.logoText{
  border: 1px solid red;
  width: 10px;
  height: 10px;
}
.w3-bar .w3-button {
  padding: 16px;
}

#myNavbar{
  /* background-color: #0093E9; */
  /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */

}

#logoBox img{
  width : 250px;
  height: 135px;

}
#logoBox{
  /* background-color: rgba(225,225,227,255); */
  background-color: white;
  width: 100%;
  pointer-events: none;

  /* background-color: red; */
}

.nuv{
position: fixed;
}

.animateNav{
  /* display: flex; */
  padding-left: 25%;
  background: rgb(81,182,3);
  background: linear-gradient(0deg, rgba(81,182,3,0.9934348739495799) 77%, rgba(0,103,27,1) 100%);


  /* text-align: center; */
  /* margin: 0 auto; */
}
#sideBarBtn{
  height: 100px;
  width: 100px;
}

#insect{
  width: 60%;
}
.cent{
  /* width:200px;
height:200px;
position: fixed;
background-color: blue;
top: 50%;
left: 50%;
margin-top: -100px;
margin-left: -100px; */
  width: 16%;
  /* border: solid blue; */
  color: white;
}





/* ssssss */
/* Style the Image Used to Trigger the Modal */
/* #myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;} */

/* The Modal (background) */
/* .modal {
  display: none; /* Hidden by default
  position: fixed; /* Stay in place
  z-index: 1; /* Sit on top
  padding-top: 100px; /* Location of the box
  left: 0;
  top: 0;
  width: 100%; /* Full width
  height: 100%; /* Full height
  overflow: auto; /* Enable scroll if needed
  background-color: rgb(0,0,0); /* Fallback color
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity
} */

/* Modal Content (Image) */
/* .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
} */

/* Caption of Modal Image (Image Text) - Same Width as the Image */
/* #caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
} */

/* Add Animation - Zoom in the Modal */
/* .modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
} */

/* The Close Button */
/* .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
} */

/* 100% Image Width on Smaller Screens */
/* @media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
} */
/* ssssss */









.card-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-carousel .my-card {
  height: 15rem;
  width: 52rem;
  position: relative;
  z-index: 1;
  -webkit-transform: scale(0.6) translateY(-2rem);
  transform: scale(0.6) translateY(-2rem);
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  background: white;
  background-color: lightgray;
  transition: 1s;
  border-radius: 25px;
}

.card-carousel .my-card:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 20rem;
  border-radius: 100%;
  background-color: rgba(0,0,0,0.3);
  bottom: -5rem;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}



.card-carousel .my-card.active {
  z-index: 3;
  -webkit-transform: scale(1) translateY(0) translateX(0);
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
  /* width: 12rem; */
  padding: 36px;
  background:url("../images/bg12.png");
  background-size: 100%;
}

.card-carousel .my-card.prev, .card-carousel .my-card.next {
  z-index: 2;
  -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
  transform: scale(0.8) translateY(-1rem) translateX(0);
  opacity: 0.6;
  pointer-events: auto;
  transition: 1s;
  padding: 36px;

}
.my-card.prev,.my-card.next {
  background:url("../images/bg12.png");
  background-size: 150%;

  /* opacity: 0.1; */
}
.my-card.prev iframe{
  pointer-events: none;
}
.my-card.next iframe{
  pointer-events: none;
}

/* ss */
.card-carousel .my-card:nth-child(0):before {
  /* content: '233'; */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: black;
}

.card-carousel .my-card:nth-child(1):before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(2):before {
  /* content: '2'; */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(3):before {
  /* content: '3'; */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(4):before {
  /* content: '4'; */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}




.reviews iframe{
  border-radius: 20px;
  /* padding 20%; */
}

/* --- Smartphone view - small view --- */
@media only screen and (max-width: 450px) {


  .reviewCards{
    width: 100%;
  }

  .card-carousel {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* position: relative; */
  }

  .card-carousel .my-card {
    height: 15rem;
    width: 52rem;
    position: relative;
    z-index: 1;
    -webkit-transform: scale(0.6) translateY(-2rem);
    transform: scale(0.6) translateY(-2rem);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    background: white;
    background-color: lightgray;
    transition: 1s;
    border-radius: 25px;
  }

  .card-carousel .my-card:after {

    position: absolute;
    height: 2px;
    width: 20rem;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.3);
    bottom: -5rem;
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }

  .card-carousel .my-card.active {
    z-index: 3;
    -webkit-transform: scale(0.4) translateY(0) translateX(0);
    transform: scale(0.4) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
    /* width: 12rem; */
    padding: 36px;
    background:url("../images/bg12.png");
    /* right: -100px; */
  }

  .card-carousel .my-card.prev, .card-carousel .my-card.next {
    z-index: 2;
    -webkit-transform: scale(0.2) translateY(-1rem) translateX(0);
    transform: scale(0.2) translateY(-1rem) translateX(0);
    opacity: 0.6;
    pointer-events: auto;
    transition: 1s;
    padding: 36px;

  }
  .my-card.prev,.my-card.next {
    background:url("../images/bg12.png");
    /* display: none; */
    /* opacity: 0.1; */
  }
  .my-card.prev{
    right: -200px;
    background:url("../images/bg12_left.png");
    background-size: auto;
    /* content : '<'; */
  }
  .my-card.prev{
    background:url("../images/bg12_left.png");
    background-size: 100%;
    background-position: 100px;
    /* background:url("../images/bg12.png"); */
    /* opacity: 0.1; */
  }
  .my-card.next{
    background:url("../images/bg12_right.png");
    background-size: 100%;
    background-position: -100px;
  }

  .my-card.prev iframe{
    visibility:  collapse;
    pointer-events: none;
    /* content: " " url("../images/bg12_left.png"); */
    /* width : 0px; */
  }
  .my-card.next iframe{
    visibility:  collapse;
    pointer-events: none;
    /* content: " " url("../images/bg12_left.png"); */
    /* width : 0px; */
  }

  .my-card.next{
    left: -200px;
    /* content : '>'; */
  }
}
